<div class="loginBox">
    <h2>Login</h2>
    <p>Email</p>
    <input type="text" [(ngModel)]="login.correo" name="" placeholder=" " />
    <p>Password</p>
    <input type="password" [(ngModel)]="login.contraseya" name="" placeholder="" />
    <button (click)="loginUser()">Entrar</button><br><br>
    <a routerLink="/registrate/">Registrarte</a>
</div>