<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="pagina-juego-content">
        <div class="galeria">
            <img class="imgJuego" src="/assets/imagenesJuegos/{{juego['imagen']}}">
            <div id="divInformacionJuego">
                <div id="divTituloJuego">
                    <p id="tituloJuego">{{juego['nombre']}}</p>
                </div>
                <div id="divInformacionJuegoInterior">
                    <img id="imgPlataformasDisponibles" *ngFor="let plataforma of lista_plataformas"
                        src="/assets/imagenesPlataformas/{{plataforma['imagen']}}">
                    <hr class="lineaSeparadora">
                    <img id="imgTiendasDisponibles" *ngFor="let tienda of lista_tiendas"
                        src="/assets/imagenesTiendas/{{tienda['Imagen']}}">
                    <hr class="lineaSeparadora">
                    <p id="categorias">{{juego['categorias']}}</p>
                </div>
                <div id="divFavoritos" *ngIf="logueado != null">
                    <button id="imgFavoritos" *ngIf="juego_agregado == true" (click)="postQuitarListaDeseados(juego['id_juego'])"><img src="/assets/img/corazon_agregado.png"></button>
                    <button id="imgFavoritos" *ngIf="juego_agregado == false"(click)="postListaDeseados(juego['id_juego'], juego['nombre'], juego['imagen'], juego['imagenResponsive'])"><img src="/assets/img/corazon.png"></button>
                </div>
            </div>
            <div *ngFor="let plataforma of lista_plataformas">
                <div id="divPreciosPlataforma">
                    <img id="imgPlataforma" src="/assets/imagenesPlataformas/{{plataforma['imagen']}}">
                </div>
                <div id="divPreciosTiendas">
                    <ng-container id="containerDatosRelacion" *ngFor="let datos of relacion">
                        <div *ngIf="datos['id_plataforma']==plataforma['id_plataforma'] then Coincide "></div>
                        <ng-template #Coincide>
                            <div *ngIf="datos['precio'] != 'Error'" id="containerPrecioExterior">
                                <div id="divPlataforma">
                                    <a id="linkTienda" target="_blank" href="{{datos['url']}}">
                                        <img src="/assets/imagenesTiendas/{{ObtenerImagenTienda(datos['id_tienda'])}}">
                                    </a>
                                </div>
                                <div id="divPrecio">
                                    <p id="precio" style="margin-bottom: 0px;">{{datos["precio"]}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Sobre Nosotros</h2>
            <div class="content">
                <p>
                    Página web en la que los usuarios podrán acceder a una lista de
                    videojuegos de diferentes
                    plataformas,(Nintendo, Play Station, etc), y al seleccionar uno podrá ver el precio actual
                    del
                    producto en una serie de
                    tiendas para que sea capaz de ver la diferencia de precios y decidir en cual lo compra.
                </p>
                <div class="social">
                    <a href="https://twitter.com/TheShester_"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/shester_official/"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.youtube.com/c/TheShester/videos"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Direcciones</h2>
            <div class="content">
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">665037566</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">salesburn@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contactanos</h2>
            <div class="content">
                <form action="#">
                    <div class="email">

                        <input type="email" required placeholder="Email">
                    </div>
                    <div class="btn">
                        <button type="submit">Suscribete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

</html>