.pagina-juego-content
{
    height: auto;
	width: 80vw;
    margin: 0 auto;
    margin-bottom: 50px;
}

nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: furura;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: futura;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: #70E342;
    font-size: 28px;
}

.galeria{
    font-family: 'open sans';
    padding-top: 50px;
}

.galeria h1{
    text-align: center;
    margin:0px 0 15px 0;
    padding-top: 20px;
    font-weight: 300;
    color: #70E342;
}

.imgJuego{
    width: 40%;
    margin: 10px 0px 0px 10px;
}

#divInformacionJuego{
    background-color: #8A9597; 
    width: 40%; 
    height: 345px; 
    float: right; 
    margin: 10px 10px 0px 0px; 
    justify-content: center; 
    align-items: center; 
    border-radius: 25px;
}

#divTituloJuego{
    height: 10%;
}

#tituloJuego{
    color: white; 
    text-align: center; 
    position: relative; 
    top: 5px;
}

#divInformacionJuegoInterior{
    background-color: white;
    height: 80%;
    text-align: center;
}

#imgPlataformasDisponibles{
    width: 60px; 
    margin: 5px 10px 0px 10px; 
}

.lineaSeparadora{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#categorias{
    color: black;
}

#imgTiendasDisponibles{
    width: 90px; 
    margin: 5px 10px 5px 10px;
}

#divPreciosPlataforma{
    background-color: white; 
    width: 100px; 
    margin: 20px auto auto auto;
}

#imgPlataforma{
    width: 100px;
}

#divPreciosTiendas{
    display: flex; 
    flex-wrap: wrap;
}

#containerDatosRelacion{
    width: 50%;
}

#containerPrecioExterior{
    width: 50%; 
    border: solid 1px; 
    background-color: white; 
    display: flex; 
    flex-wrap: wrap;
}

#divPlataforma{
    width: 50%;
}

#linkTienda{
    display:block; 
    width: 180px; 
    height: 63px; 
    margin: 10px;
}

#divPrecio{
    width: 50%;display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    font-size: 50px; 
    text-align: center;
}

#precio{
    margin-bottom: 0px;
    color: black;
}

#principal{
    background-color:steelblue;
    top: auto;
}
.navbar
{

    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

nav
{
    flex: 1;
    text-align: center;
}
nav ul 
{   
    padding-top: 20px;
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
#MenuItems>div>a
{
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    font-family: futura;
}
#MenuItems1>div>a
{
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    font-family: futura;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: futura;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 28px;
}


.cont{
    height:100%;
    padding-top:0px;
}

.iniciar h1{
    background-color: transparent;
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
.logo h1{
    background-color: transparent;
    font-size: 30px;
    color: #70E342;
}
.iniciar img{
    background-color: transparent;
    color: black;
    margin-top: 20px;
}

input[type="search"]{
    width:90%;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background:#aeb6bf;
}
input[type="search"]:focus{
    background:#fff;
    width:90%;
}

.container a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    float:right;
    border: orange;
}


*{
  margin: 0;
  padding: 0;
  height: auto;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family:  sans-serif;
}

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}

.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:steelblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown1 {
  position: relative;
  display: inline-block;
  width: auto;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:steelblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 10%;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown-content1 a h1{
  text-decoration: none;
  font-size: 20px;
  padding-top: 20px;
  font-family: futura;
}
.dropdown-content a h1{
  text-decoration: none;
  font-size: 20px;
  padding-top: 20px;
  font-family: futura;
}
.dropdown1 span{
  font-size: 50px;
}
.fa-ellipsis-h{
  font-size: 30px;
}

#divFavoritos{
  height: 10%;
}

#imgFavoritos{
  height: 100%;
  display: block;
  margin: auto;
  background-color: transparent; 
  border: none;
}

#imgFavoritos img{
  height: 100%;
}