<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Document</title>
</head>

<body>
    <section class="terminos">
        <p>1.Aceptación
            En el presente documento se establecen los términos y condiciones de Sales Burn que serán de aplicación al
            acceso y uso
            por parte del Usuario de esta página web salesburn.com. Les rogamos lean atentamente el presente
            Contrato.<br>

            Al acceder, consultar o utilizar el Sitio Web, los Usuarios aceptan cumplir los términos y condiciones
            establecidos en
            este Contrato. En caso de que usted no acepte quedar vinculado por los presentes términos y condiciones, no
            podrá
            acceder a, ni utilizar, el Sitio Web.<br>

            Sales Burn y sus respectivas empresas afiliadas se reservan el derecho de actualizar el presente Contrato
            siempre que lo
            consideren oportuno. En consecuencia, recomendamos al Usuario revisar periódicamente las modificaciones
            efectuadas al
            Contrato.<br>

            El presente Sitio Web está dirigido exclusivamente a personas residentes en España. Los Usuarios residentes
            o
            domiciliados en otro país que deseen acceder y utilizar el Sitio Web, lo harán bajo su propio riesgo y
            responsabilidad,
            por lo que deberán asegurarse de que dichos accesos y/o usos cumplen con la legislación aplicable en su
            país.</p>


        <p>2.Vínculos a páginas web de terceros
            El Sitio Web puede tener vínculos, como hipervínculos o enlaces, que indican el acceso a páginas Web de
            terceros (los
            “Sitios Relacionados”). Aunque Sales Burn revisa el material de terceros y solamente permite la inclusión de
            los Sitios
            Relacionados que, a su leal saber y entender, no infringen la legislación aplicable, Sales Burn no puede
            controlar ni
            realizar un seguimiento de los Sitios Relacionados y, en consecuencia, no asumirá responsabilidad alguna en
            cuanto a la
            exactitud, seguridad o fiabilidad del material, información o contenido incluido en dichos Sitios
            Relacionados.

            La inclusión de los Sitios Relacionados en el Sitio Web no implica que haya relación o asociación alguna
            entre Sales
            Burn y el propietario de los Sitios Relacionados, ni la aprobación o promoción por parte de Sales Burn de
            dichos Sitios
            Relacionados. Sales Burn incluye los Sitios Relacionados solamente para comodidad del Usuario. Este es el
            único
            responsable del acceso a los Sitios Relacionados.
        </p>
    </section>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Panel Control</header>
        <ul>
            <li><a routerLink="/updateperfil/"><i class="fas fa-qrcode"></i>Editar Perfil</a></li>
            <li><a routerLink="/updatepassword/"><i class="fas fa-link"></i>Editar Contraseña</a></li>
            <li><a routerLink="/terminos/"><i class="far fa-question-circle"></i>About</a></li>
            <li><a routerLink="/eliminar/"><i class="far fa-trash-alt"></i>Cancelar cuenta</a></li>
            <li><a routerLink="//" (click)="cerrarSesion()" href="inicio"><i class="fas fa-calendar-week"></i>Cerrar
                    Session</a></li>

        </ul>
        <ul *ngIf="!comprobarLogin()">
            <li><a routerLink="/iniciar/"><i class="fas fa-sign-in-alt"></i>Login</a></li>
            <li><a routerLink="/registro/"><i class="fas fa-plus-circle"></i>Registro</a></li>
        </ul>
    </div>
</body>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Sobre Nosotros</h2>
            <div class="content">
                <p>
                    Página web en la que los usuarios podrán acceder a una lista de
                    videojuegos de diferentes
                    plataformas,(Nintendo, Play Station, etc), y al seleccionar uno podrá ver el precio actual
                    del
                    producto en una serie de
                    tiendas para que sea capaz de ver la diferencia de precios y decidir en cual lo compra.
                </p>
                <div class="social">
                    <a href="https://twitter.com/TheShester_"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/shester_official/"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.youtube.com/c/TheShester/videos"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Direcciones</h2>
            <div class="content">
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">665037566</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">salesburn@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contactanos</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <textarea name="" id="" cols="2" rows="2"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Suscribete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

</html>