#principal{
    background-color:steelblue;
    top: auto;
}
.navbar
{

    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

nav
{
    flex: 1;
    text-align: center;
}
nav ul 
{   
    padding-top: 20px;
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
#MenuItems>div>a
{
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    font-family: futura;
}
#MenuItems1>div>a
{
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    font-family: futura;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: futura;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 28px;
}


.cont{
    height:100%;
    padding-top:0px;
}

.iniciar h1{
    background-color: transparent;
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
.logo h1{
    background-color: transparent;
    font-size: 30px;
    color: #70E342;
}
.iniciar img{
    background-color: transparent;
    color: black;
}



.container a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    float:right;
    border: orange;
}




.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:0px 0 15px 0;
    padding-top: 20px;
    font-weight: 300;
    color: #70E342;
}

.linea{
    border-top: 5px solid #0077C0;
    margin-top: +30px;
    margin-bottom: 40px;
}

.divImagenes{
    text-align: center;
}

.divImagenesResponsive{
    text-align: center;
}
.divImagenes a{
    max-width: 490px;
    width: 100%;
    height: 300px;
    margin: 10px;
}

.divImagenesResponsive a{
    max-width: 150px;
    width: 100%;
    height: 200px;
    margin: 10px;
}
.divImagenes img{
    max-width: 490px;
    width: 100%;
    height: 300px;
}

.divImagenesResponsive img{
    max-width: 150px;
    width: 100%;
    height: 200px;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}

*{
  margin: 0;
  padding: 0;
  height: auto;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family:  sans-serif;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:steelblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown1 {
  position: relative;
  display: inline-block;
  width: auto;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:steelblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 10%;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown-content1 a h1{
  text-decoration: none;
  font-size: 20px;
  padding-top: 20px;
  font-family: futura;
}
.dropdown-content a h1{
  text-decoration: none;
  font-size: 20px;
  padding-top: 20px;
  font-family: futura;
}
.dropdown1 span{
  font-size: 50px;
}
.fa-ellipsis-h{
  font-size: 30px;
}











nav ul li a:hover{
  color: #70E342;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff;
}

nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}

nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}


nav ul ul li{
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}

.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: right;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
}


a
{
    text-decoration: none;
    color: white;
    font-size: 28px;
}




/*Footer*/
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}

.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}



      /*hola*/
  nav .logo{
  float: left;
  color: #70E342;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}

nav ul{
  float: right;
  margin-right: 10%;
  list-style: none;
  position: relative;
}

nav ul li{
  display: inline-block;
  background: steelblue;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
.show,.icon,input{
  display:none;
}

nav:after{
  content: '';
  clear: both;
  display: table;
}


nav ul li{
  left: -30%;
  display: inline-block;

  margin: 0 5px;
}


nav ul ul li{
  margin-right: 50px;
  width: 110%;
  margin-right: 100%;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}

input[type="search"]{
    width:30%;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background:#aeb6bf;
    transition:all 0.5s;
    margin-left: 30px;
    display: inline-block;
}

#buscar input[type="search"]{
    width:100%;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background:#aeb6bf;
    transition:all 0.5s;
    margin-left: 30px;
    display: inline-block;
}
