<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div *ngIf="!loguin(); else iniciado" class="full-page" id="principal">
        <div class="navbar">
            <nav>
                <nav>
                    <div class="cont row">
                        <div class="col col-lg-3">
                            <a class="logo" routerLink="inicio" title="Sales Burn Logo">
                                <img src="../assets/images/logo.png" alt="" srcset="" width="60px" height="60px">
                            </a>
                        </div>

                        <div class="col col-lg-4" id="buscar">
                            <input type="search" placeholder="Buscar un Juego"
                                title="Presione Esc para supender la búsqueda" (keyup.enter)="Search($event)">
                        </div>

                        <div class="d-none d-lg-block col col-lg-0">
                            <a class="iniciar" routerLink="iniciar">
                                <h1>Iniciar Sesion</h1>
                            </a>
                        </div>

                        <div class="d-none d-lg-block col col-lg-0">
                            <a class="iniciar" routerLink="/registrate/">
                                <h1>Registrarte</h1>
                            </a>
                        </div>

                        <div class="dropdown d-block d-lg-none col">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="60" height="60"
                                    focusable="false">
                                    <title>Menu</title>
                                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
                                </svg>
                            </span>
                            <div class="dropdown-content">
                                <a class="iniciar" routerLink="iniciar">
                                    <h1>Iniciar Sesion</h1>
                                </a>
                                <a class="iniciar" routerLink="/registrate/">
                                    <h1>Registrarte</h1>
                                </a>
                                <a class="iniciar" routerLink="iniciar">
                                    <img src="../assets/img/corazon.png" alt="" srcset="" width="30px" height="30px"
                                        title="tus deseos">
                                </a>
                            </div>
                        </div>


                    </div>

                </nav>
                <div class="row justify-content-around  d-none d-sm-flex" id='MenuItems'>
                    <div><a routerLink='/plataforma/1' (click)="buscarJuegosPlataforma(1)" class="col">Pc</a></div>
                    <div><a routerLink='/plataforma/2' (click)="buscarJuegosPlataforma(2)" class="col">Nintendo</a></div>
                    <div><a routerLink='/plataforma/3' (click)="buscarJuegosPlataforma(3)" class="col">PlayStation 4</a></div>
                    <div><a routerLink='/plataforma/4' (click)="buscarJuegosPlataforma(4)" class="col">PlayStation 5</a></div>
                    <div><a routerLink='/plataforma/5' (click)="buscarJuegosPlataforma(5)" class="col">Xbox One</a></div>
                    <div><a routerLink='/plataforma/6' (click)="buscarJuegosPlataforma(6)" class="col">Xbox Series X/S</a></div>     
                </div>
                <div class="row justify-content-around d-flex d-sm-none" id="MenuItems1">
                    <div><a routerLink='#' class="col-3">Home</a></div>
                    <div><a routerLink='#' class="col-3">Contacto</a></div>
                    <div><a routerLink='#' class="col-3">Novedades</a></div>
                    <div class="dropdown1 col-3">
                        <i class="fas fa-ellipsis-h"></i>
                        <div class="dropdown-content1">
                            <a routerLink='#'>
                                <h1>Nintendo</h1>
                            </a>
                            <a routerLink='#'>
                                <h1>PlayStation</h1>
                            </a>
                            <a routerLink='#'>
                                <h1>Xbox</h1>
                            </a>
                            <a routerLink='#'>
                                <h1>Pc</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <ng-template #iniciado>
        <div class="full-page" id="principal">
            <nav>
                <div class="logo">
                    <a class="logo" routerLink="inicio" title="Sales Burn Logo">
                        <img src="../assets/images/logo.png" alt="" srcset="" width="60px" height="60px">
                    </a>
                </div>
                <input class="search" type="search" placeholder="Buscar un Juego"
                    title="Presione Esc para supender la búsqueda" (keyup.enter)="Search($event)">


                <label for="btn" class="icon">
                    <span class="fa fa-bars"></span>
                </label>
                <input type="checkbox" id="btn">
                <ul>
                    <li><a routerLink='/plataforma/1' (click)="buscarJuegosPlataforma(1)" class="col">Pc</a></li>
                    <li><a routerLink='/plataforma/2' (click)="buscarJuegosPlataforma(2)" class="col">Nintendo</a></li>
                    <li><a routerLink='/plataforma/3' (click)="buscarJuegosPlataforma(3)" class="col">PlayStation 4</a></li>
                    <li><a routerLink='/plataforma/4' (click)="buscarJuegosPlataforma(4)" class="col">PlayStation 5</a></li>
                    <li><a routerLink='/plataforma/5' (click)="buscarJuegosPlataforma(5)" class="col">Xbox One</a></li>
                    <li><a routerLink='/plataforma/6' (click)="buscarJuegosPlataforma(6)" class="col">Xbox Series X/S</a></li>
                    <li>
                        <label for="btn-1" class="show">Cuenta +</label>
                        <a class="iniciar">
                            <img src="../../assets/img/user_icon-icons.com_66546.png" alt="" srcset="" width="30px"
                                height="30px" title="Cuenta">
                        </a>
                        <input class="as" type="checkbox" id="btn-1">
                        <ul>
                            <li><a routerLink="/updateperfil/">Configuracion</a></li>
                            <li><a routerLink="/lista_deseados/">Mis deseos</a></li>
                            <li><a (click)="cerrarSesion()" href="inicio">Cerrar Session</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </ng-template>
</body>


</html>

<router-outlet></router-outlet>
