<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Document</title>
</head>

<body>
    <div class="loginBox">
        <h2>Actualizar Perfil</h2>
        <form #formUsuario="ngForm" (ngSubmit)="updatePerfil(); formUsuario.reset()">
            <p>Tu Contraseya</p>
            <input #inputPassword="ngModel" type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
                [(ngModel)]="update.contraseya" placeholder="" name="contraseya">
            <span [hidden]="inputPassword.valid">Formato Incorrecto</span><br>

            <p>Nombre</p>
            <input #inputNombre="ngModel" type="text" pattern="([a-zA-Z]{3,30}\s*)+" [(ngModel)]="update.nombre"
                placeholder="" name="nombre">
            <span [hidden]="inputNombre.valid">Formato Incorrecto</span><br>

            <p>Telefono</p>
            <input #inputTelefono="ngModel" type="text" pattern="^[9|6|7]{1}([\d]{2}[-]*){3}[\d]{2}$"
                [(ngModel)]="update.telefono" placeholder="" name="telefono">
            <span [hidden]="inputTelefono.valid">Formato Incorrecto</span><br>

            <p> <button type="submit" [disabled]="!formUsuario.valid">Guardar</button> </p><br>
        </form>
    </div>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Panel Control</header>
        <ul>
            <li><a routerLink="/updateperfil/"><i class="fas fa-qrcode"></i>Editar Perfil</a></li>
            <li><a routerLink="/updatepassword/"><i class="fas fa-link"></i>Editar Contraseña</a></li>
            <li><a routerLink="/terminos/"><i class="far fa-question-circle"></i>About</a></li>
            <li><a routerLink="/eliminar/"><i class="far fa-trash-alt"></i>Cancelar cuenta</a></li>
            <li><a routerLink="//" (click)="cerrarSesion()" href="inicio"><i class="fas fa-calendar-week"></i>Cerrar
                    Session</a></li>

        </ul>
    </div>
</body>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Sobre Nosotros</h2>
            <div class="content">
                <p>
                    Página web en la que los usuarios podrán acceder a una lista de
                    videojuegos de diferentes
                    plataformas,(Nintendo, Play Station, etc), y al seleccionar uno podrá ver el precio actual
                    del
                    producto en una serie de
                    tiendas para que sea capaz de ver la diferencia de precios y decidir en cual lo compra.
                </p>
                <div class="social">
                    <a href="https://twitter.com/TheShester_"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/shester_official/"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.youtube.com/c/TheShester/videos"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Direcciones</h2>
            <div class="content">
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">665037566</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">salesburn@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contactanos</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <textarea name="" id="" cols="2" rows="2"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Suscribete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

</html>