<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Document</title>
</head>

<body>
    <form #formUsuario="ngForm" (ngSubmit)="comnetarioUser(); formUsuario.reset()">
        <article class="eliminar">
            <h2>Te vamos a echar de menos</h2>
            <hr>
            <p>Introduce tu Contraseña</p>
            <input #inputPassword="ngModel" type="password" [(ngModel)]="nuevosComentarios.contraseya_actual"
                placeholder="******" name="contraseya">
            <span [hidden]="inputPassword.valid">Formato Incorrecto</span><br>

            <p>Si decides cancelar tu cuenta:
            </p>
            <ul>
                <li>Se eliminará tu perfil.</li>
                <li>Se eliminarán todas tus deseos.</li>
            </ul>
            <p class="rojo">Ten en cuenta que esta acción es irreversible.</p>
            <p class="rojo">No podemos restablecer cuentas canceladas.</p>
        </article>
        <button class="confirmareliminar" type="submit" [disabled]="!formUsuario.valid">Si, lo digo en serio : quiero
            eliminar mi cuenta</button><br><br>
    </form>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Panel Control</header>
        <ul>
            <li><a routerLink="/updateperfil/"><i class="fas fa-qrcode"></i>Editar Perfil</a></li>
            <li><a routerLink="/updatepassword/"><i class="fas fa-link"></i>Editar Contraseña</a></li>
            <li><a routerLink="/terminos/"><i class="far fa-question-circle"></i>About</a></li>
            <li><a routerLink="/eliminar/"><i class="far fa-trash-alt"></i>Cancelar cuenta</a></li>
            <li><a routerLink="//" (click)="cerrarSesion()" href="inicio"><i class="fas fa-calendar-week"></i>Cerrar
                    Session</a></li>

        </ul>
    </div>
</body>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Sobre Nosotros</h2>
            <div class="content">
                <p>
                    Página web en la que los usuarios podrán acceder a una lista de
                    videojuegos de diferentes
                    plataformas,(Nintendo, Play Station, etc), y al seleccionar uno podrá ver el precio actual
                    del
                    producto en una serie de
                    tiendas para que sea capaz de ver la diferencia de precios y decidir en cual lo compra.
                </p>
                <div class="social">
                    <a href="https://twitter.com/TheShester_"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/shester_official/"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.youtube.com/c/TheShester/videos"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Direcciones</h2>
            <div class="content">
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">665037566</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">salesburn@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contactanos</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <textarea name="" id="" cols="2" rows="2"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Suscribete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

</html>