body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #8EB8F1;
    }
    #centrar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #centrar>div:first-child{
        margin: 0 auto;
    }


 
