<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="galeria">

        <h1>Todos los juegos</h1>
        <div class="linea"></div>
        <div *ngIf="responsive == false" class="divImagenes">
            <div class="divImagen" *ngFor="let item of lista_juegos" style="display: inline-flex;">
                <a class="linkPaginaJuego" routerLink="/juego/{{item.nombre}}"><img class="imgJuego"
                        src="/assets/imagenesJuegos/{{item.imagen}}"></a>
            </div>
        </div>

        <div *ngIf="responsive == true" class="divImagenesResponsive">
            <div class="divImagen" *ngFor="let item of lista_juegos" style="display: inline-flex;">
                <a class="linkPaginaJuego" routerLink="/juego/{{item.nombre}}"><img *ngFor="let item of lista_juegos"
                        class="imgJuego" src="/assets/imagenesJuegosResponsive/{{item.imagenResponsive}}"></a>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="main-content">
        <div class="left box">
            <h2>Sobre Nosotros</h2>
            <div class="content">
                <p>
                    Página web en la que los usuarios podrán acceder a una lista de
                    videojuegos de diferentes
                    plataformas,(Nintendo, Play Station, etc), y al seleccionar uno podrá ver el precio actual
                    del
                    producto en una serie de
                    tiendas para que sea capaz de ver la diferencia de precios y decidir en cual lo compra.
                </p>
                <div class="social">
                    <a href="https://twitter.com/TheShester_"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.instagram.com/shester_official/"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.youtube.com/c/TheShester/videos"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Direcciones</h2>
            <div class="content">
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">665037566</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">salesburn@gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contactanos</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <textarea name="" id="" cols="2" rows="2"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Suscribete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

</html>