.registroBox {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 65%;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(192,192,192,0.3);
}


h2{
    margin: 0;
    padding: 10px 0 20px;
    color: #49FD53;
    text-align: left;
    font-family: futura;
}
.header{
    margin: 0;
    padding: 10px 0 20px;
    color: black;
    text-align: center;
    font-family: futura;
}

.registroBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-family: futura;
}

.registroBox input{
    width: 100%;
    margin-bottom: 20px;
}

.registroBox input[type="text"],
.registroBox input[type="password"],
.registroBox input[type="text"],
.registroBox input[type="number"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder{
    color: rgba(255,255,255,.5);
}

.registroBox button{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #70E342;
    cursor: pointer;
    border-radius: 20px;
}

.registroBox span{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.registroBox a{
    color: #0066c0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
