<div class="registroBox">
        <h2>Crear Cuenta</h2>
        <form #formUsuario="ngForm" (ngSubmit)="altaRegistro(); formUsuario.reset()">

                <p>Nombre</p>
                <input #inputNombre="ngModel" type="text" pattern="([a-zA-Z]{3,30}\s*)+"
                        [(ngModel)]="nuevoUsuario.nombre" placeholder="" name="nombre">
                <span [hidden]="inputNombre.valid">Formato Incorrecto</span><br>

                <p>Password</p>
                <input #inputPassword="ngModel" type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
                        [(ngModel)]="nuevoUsuario.contraseya" placeholder="" name="contraseya">
                <span [hidden]="inputPassword.valid">Formato Incorrecto</span><br>

                <p>Correo</p>
                <input #inputCorreo="ngModel" type="text" pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
                        [(ngModel)]="nuevoUsuario.correo" placeholder="" name="correo">
                <span [hidden]="inputCorreo.valid">Formato Incorrecto</span><br>


                <p>Telefono</p>
                <input #inputTelefono="ngModel" type="text" pattern="^[9|6|7]{1}([\d]{2}[-]*){3}[\d]{2}$"
                        [(ngModel)]="nuevoUsuario.telefono" placeholder="" name="telefono">
                <span [hidden]="inputTelefono.valid">Formato Incorrecto</span><br>

                <p> <button type="submit" [disabled]="!formUsuario.valid">Crear Cuenta</button> </p><br>
                <span>¿Ya tienes Cuenta?</span>&nbsp;&nbsp;<a routerLink="/iniciar/">Iniciar sesión</a>
        </form>
</div>